//// Author Alexandru Muntean
$ligh-theme: true;
$dark-theme: true;

@use "sass:math";
@use "sass:list";

/// Numeracion
$num:1;

/// colores generales
$color-background: #ccc;
$color-baser: #333;
$color-w:white;
$color-b:black;
$color-error: #f00;
$color-warning: #ff0;
$color-accepted: #0f0;
$color-normal: #00f;
$color-shadow: #888;
$color-reservado: orange;
$color-list: #aaa, #00f, orange, rgb(242, 255, 0), #0f0;

///colores menu
$navbar-background-color: rgb(155,111,145);
$navbar-color-hover: $color-background;

///colores del borde
$border-color: $color-baser;
$border-style:solid;

///contenido de bordes y margenes
$border-radius: 1rem;
$border-width: 0.1rem;
$main-container-width:80%;
$margin: 0px auto;
$margin-1: 0.5rem;
$margin-left: 25%;
$padding: 1rem;
$padding-2: 0.2rem;

/// Tipo de textos
$text-align: center;
$text-vacio: none;

///tipos de background
$background-repeat: no-repeat ;
$background-size: contain;

/// Extras del ejercicio
$figure-width: 39.5%;
$font-size: 0.8rem;
$width: 100%;
$width-2: 50%;
$display: inline-block;
$font-weight: bold;

@mixin centrado {
    margin: 0px auto;
}

body{
    @include centrado;
    @if $ligh-theme == true{
        background-color: $color-w;
        color: $color-b;
    }@else if $dark-theme{
        background-color: $color-b;
        color: $color-w;
    }@else{
        background-color: $color-background;
        color: $color-baser;
    }
}

@while $num < 6 {
    figure:nth-child(#{$num}){
        color: $color-b;
        background-color: list.nth($color-list, $num);
    }
    $num: $num + 1 ;
}

@for $i from 1 to 6 {
    li:nth-of-type(#{$i}){
        color: $color-b;
        color: list.nth($color-list, $i);
    }
}

$mapa:(
    Espana:"Espana.png",
    Francia:"Francia.png",
    Italia:"Italia.png",
    Alemania:"Alemania.png"
);

@each $u, $v in $mapa{
    div.#{$u}{
        background-image: url("../img/#{$v}");
        background-repeat: $background-repeat ;
        background-size: $background-size;
        padding: 0.9-$padding;
        margin: 0.5+$margin-1;
        border: $border-width $border-style $border-color;
        border-radius: 2*$border-radius;
        width: $width-2;
        margin-left: $margin-left;
        
    }
}

.container{
    width: $main-container-width;
    margin: $margin;
}

nav{
    background-color: $navbar-background-color;
    padding: $padding-2;
    ul{
        li{
            display: $display;
            padding-left: $padding;
            padding-right: $padding;

            &.active{
                color: $navbar-color-hover;
                font-weight: $font-weight;
            }

            &:hover{
                color: $navbar-color-hover;
            }

            a{
                text-decoration: $text-vacio;
            }
        }
    }
}

.distancia {
    margin-left: 5+$margin-left;
}

/*Funciones prebias*/

figure.card{
    border: $border-width #{$border-style} $border-color;
    border-radius: $border-radius;
    display: $display;
    padding: $padding;
    width: $figure-width;
}
img{
    border-radius: 2*$border-radius;
    width: $width;
}

figcaption{
    font-size: $font-size;
    margin: $margin-1;
    text-align: $text-align;
}

$btn-colors: ("error" : $color-error,
    "warning" : $color-warning,
    "accepted" : $color-accepted,
    "normal" : $color-normal);

///Elemento botón general
.btn {
    display: $display;
    text-align: $text-align;
    text-decoration: $text-vacio;
    border-radius: 1.8-$border-radius;
    padding: 1.5-$padding;
    ///Estilo para el efecto de cuando pase el ratón por encima
    &:hover {box-shadow: 0.2rem 0.2rem $color-shadow;}
    ///Estilo al hacer click en el boton
    &:active {
        background-color: $color-reservado;
        color: $color-w;
    }
}

///Clase adicional que le da color
@each $k,
$v in $btn-colors {

    .btn-#{$k} {
        background-color: $v;
    }
}