//// Author Alexandru Muntean
$ligh-theme: true;
$dark-theme: true;

@use "sass:math";
@use "sass:list";

/// Numeracion
/// @group Numbers
$num:1;


/// Paleta de colores generales
/// @group Colors 
$color-background: #ccc;
$color-baser: #333;
$color-w:white;
$color-b:black;
$color-error: #f00;
$color-warning: #ff0;
$color-accepted: #0f0;
$color-normal: #00f;
$color-shadow: #888;
$color-reservado: orange;
$color-list: #aaa, #00f, orange, rgb(242, 255, 0), #0f0;

/// Codigo del menu
/// @group Navbar
$navbar-background-color: rgb(155,111,145);
$navbar-color-hover: $color-background;

///colores del borde
/// @group Borders
$border-color: $color-baser;
$border-style:solid;

///contenido de bordes y margenes
/// @group Dimensions
$border-radius: 1rem;
$border-width: 0.1rem;
$main-container-width:80%;
$margin: 0px auto;
$margin-1: 0.5rem;
$margin-left: 25%;
$padding: 1rem;
$padding-2: 0.2rem;

/// Tipo de textos
/// @group Texts
$text-align: center;
$text-vacio: none;

///tipos de background
/// @group Backgrounds
$background-repeat: no-repeat ;
$background-size: contain;

/// Extras del ejercicio
/// @group Extras
$figure-width: 39.5%;
$font-size: 0.8rem;
$width: 100%;
$width-2: 50%;
$display: inline-block;
$font-weight: bold;

@mixin centrado {
    margin: 0px auto;
}
/// Estilo del body
body{
    @include centrado;
    @if $ligh-theme == true{
        background-color: $color-w;
        color: $color-b;
    }@else if $dark-theme{
        background-color: $color-b;
        color: $color-w;
    }@else{
        background-color: $color-background;
        color: $color-baser;
    }
}

/// Regla del bucle while
@while $num < 6 {
    figure:nth-child(#{$num}){
        color: $color-b;
        background-color: list.nth($color-list, $num);
    }
    $num: $num + 1 ;
}

/// Regla del bucle for
@for $i from 1 to 6 {
    li:nth-of-type(#{$i}){
        color: $color-b;
        color: list.nth($color-list, $i);
    }
}
/// Variable del map
$mapa:(
    Espana:"Espana.png",
    Francia:"Francia.png",
    Italia:"Italia.png",
    Alemania:"Alemania.png"
);

/// Regla del bucle each
@each $u, $v in $mapa{
    div.#{$u}{
        background-image: url("../img/#{$v}");
        background-repeat: $background-repeat ;
        background-size: $background-size;
        padding: 0.9-$padding;
        margin: 0.5+$margin-1;
        border: $border-width $border-style $border-color;
        border-radius: 2*$border-radius;
        width: $width-2;
        margin-left: $margin-left;
        
    }
}

/// Estilo del contenedor principal
.container{
    width: $main-container-width;
    margin: $margin;
}

/// Estilo de la barra de navegación
nav{
    background-color: $navbar-background-color;
    padding: $padding-2;
    ul{
        li{
            display: $display;
            padding-left: $padding;
            padding-right: $padding;

            &.active{
                color: $navbar-color-hover;
                font-weight: $font-weight;
            }

            &:hover{
                color: $navbar-color-hover;
            }

            a{
                text-decoration: $text-vacio;
            }
        }
    }
}

/// Estilo de la clase distancia
.distancia {
    margin-left: 5+$margin-left;
}

/*Funciones prebias*/
/// Estilo de la figura
figure.card{
    border: $border-width #{$border-style} $border-color;
    border-radius: $border-radius;
    display: $display;
    padding: $padding;
    width: $figure-width;
}
/// Estilo de la imagen
img{
    border-radius: 2*$border-radius;
    width: $width;
}
/// Estilo del pie de foto
figcaption{
    font-size: $font-size;
    margin: $margin-1;
    text-align: $text-align;
}
/// Mapa de colores para los botones
$btn-colors: ("error" : $color-error,
    "warning" : $color-warning,
    "accepted" : $color-accepted,
    "normal" : $color-normal);

///Elemento botón general
.btn {
    display: $display;
    text-align: $text-align;
    text-decoration: $text-vacio;
    border-radius: 1.8-$border-radius;
    padding: 1.5-$padding;
    ///Estilo para el efecto de cuando pase el ratón por encima
    &:hover {box-shadow: 0.2rem 0.2rem $color-shadow;}
    ///Estilo al hacer click en el boton
    &:active {
        background-color: $color-reservado;
        color: $color-w;
    }
}

///Clase adicional que le da color
@each $k,
$v in $btn-colors {

    .btn-#{$k} {
        background-color: $v;
    }
}