//Variable de colores
$grey: #bbbbbb;
$header-background:$grey;
$link-normal:#000;
$link-visited:#00f;
$link-active:#0f0;
$link-hover:#f00;

// interpolacion en selectores
$button-type: "error";
$btn-color:#f00;

// Tamaños para los iconos
$size : (40px, 80px, 160px);

//Breakpoints para la pagina
$breakpoints: (
    "pequeño": 480px,
    "mediano": 768px,
    "grande": 1024px
);

// Imagen de fondo 
$fondo: "img/fondos/default.jpg";

//Interpolacion en comentarios
$autor:"Yo";

/*Elementos
de la cabecera*/
.header{
    background-color: $header-background;
}

.btn-#{$button-type}{
    background-color: $btn-color;
}

//Interpolacion en uso de funciones

.container{
    background-image: url('#{$fondo}');
}

/*
    Web desarrollada por #{$autor}
*/

// Anidamiento Basico

a{
    color: $link-normal;
    text-decoration: none;
    &:hover{
        color: $link-hover;
    }
    &:visited{
        color: $link-visited;
    }
    &:active{
        color: $link-active;
    }
}

/*# souceMappingURL=ejercicio.css.map */