// colores generales
$color-background: #ccc;
$color-baser: #333;

//colores menu
$navbar-background-color: rgb(155,111,145);
$navbar-color-hover: $color-background;

//colores del borde
$border-color: $color-baser;
$border-style:"solid";
$border-width: 0.1rem;

//contenido de bordes y margenes
$border-radius: 1rem;
$main-container-width:80%;
$margin: 0px auto;
$padding: 1rem;
$padding-2: 0.2rem;

.container{
    width: $main-container-width;
    margin: $margin;
}

nav{
    background-color: $navbar-background-color;
    padding: $padding-2;
    ul{
        li{
            display: inline-block;
            padding-left: $padding;
            padding-right: $padding;

            &.active{
                color: $navbar-color-hover;
                font-weight: bold;
            }

            &:hover{
                color: $navbar-color-hover;
            }

            a{
                text-decoration: none;
            }
        }
    }
}

/*Funciones prebias*/

$figure-width: 25%;
$font-size: 0.8rem;
$margin-1: 0.5rem;
$width: 100%;

figure.card{
    border: $border-width #{$border-style} $border-color;
    border-radius: $border-radius;
    display: inline-block;
    padding: 1rem;
    width: $figure-width;
}
img{
    border-radius: 2*$border-radius;
    width: $width;
}

figcaption{
    font-size: $font-size;
    margin: $margin-1;
    text-align: center;
}