@import "tailwindcss";

@theme {
    --color-primary: #09f;
    --color-primary-light: #ceecff;
    --color-primary-dark: rgb(0, 22, 83);
    --color-midu-lol: #f8dbff;
    --color-midu-lol-light: #ceecff;

    --breakpoint-xs: 350px;
};

.social-button {
    @apply p-2 size-12 flex items-center justify-center rounded-full hover:scale-110 transition-transform ;
}