table, form, .modificar{
    border-collapse: collapse;
    margin: 0px auto;
    width: 50%;
}

h1{
    text-align: center;
}

img{
    width: 50px;
    height: 50px;
}

.primera{
    background-color: red;
    color: white;
}

#fila>td{
    font-size: 2em;
    text-align: center;
    background-color: grey;
}

#listas li{
    color: red;
}

#cinco{
    background-color: yellow;
    padding-top: 50px;
    padding-bottom: 50px;
}

[colspan="5"]{
    background-color: yellow;
}

th,td{
    border: 1px solid black;
}

.modificar [colspan="2"], [colspan="3"]{
    background-color: blue;
}

tbody tr td:first-child{
    background-color: green;
}

a:link{
    color: green;
    text-decoration: none;
}

a:visited{
    color: red;
    text-decoration: none;
}

.final th:last-child:hover,.final td:last-child:hover, 
thead tr th::first-letter{
    font-size: 2em;
}

input:required{
    border: 1px solid red;
    padding: 10px;
}

table>label::after{
    color: red;
    content: "*";
}
