%btn{
    border-radius: 2px;
    color: #fff;
    padding: 5px 0;
    margin: 2px autor;
    text-align: left;
    width: 150px;;
}

.btn-error{
    @extend %btn;
    background-color: red;
}

.btn-ok{
    @extend %btn;
    background-color: green;
}

