

/* Justify-content
    -flex-start
    -flex-end
    -center
    -space-between
    -space-around */

/*  align-items
    -flex-start
    -flex-end
    -center
    -baseline
    -stretch*/


*{
    box-sizing: border-box;
    font-family: Vegur, "PT Sans", Verdana, sans-serif;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}

header, nav, main, section, footer, .container {
    margin: 20px auto;
    width: 90%;
}

nav ul{
    display: flex;
    /* flex-direction: row;
    flex-wrap:wrap; */
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    background: skyblue;
    height: 3em;
    align-items: baseline;
}

nav li{
background-color: red;
border : none;
flex-grow: 1;
flex-shrink: 1;
flex-basis: 20%;
align-self: flex-end;
}

nav li:nth-child(2), nav li:nth-child(4){
    background-color: blue;
    align-self: flex-start;
}

section{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    place-items: stretch stretch;
    place-content: stretch space-around;
    height: 10em;
}

section article:nth-child(2){
    background-color: lightgreen;
    grid-row: span 2;
}

section article:nth-child(1), section article:nth-child(3){
    background-color: pink;
}

footer{
    display: grid;
    height: 10em;
}

#rrss{
background-color: salmon;
grid-area: rrss;
}

#contact{
background-color: skyblue;
grid-area: contact;
}

#copy{
background-color: lightgreen;
grid-area: copy;
}
